/* LIMPAR FORMATAÇÃO PADRÃO */
* {
	margin: 0;
	padding: 0;	
	font-family: "Trebuchet MS", Helvetica, sans-serif;	
}

body {	
	background-color: #F2F2F2;
	font-size: 1em;	
}

/*LAYOUT*/

header {
   background-color: rgb(88, 41, 41);
	padding: 15px;
	text-align: center;	
}

header .area-logo, .area-menu {   
	padding: 10px;
	/* border: 1px solid red; */
}

ul {	
	list-style: none; /*para deixar o menu sem as bolinhas*/
	padding-top: 5px;
}

.area-logo {
	display: flex;
	margin: auto;
	justify-content: center;
	
}

.container {    
	display: flex;	
	margin: auto;   
	justify-content: center;	
}

.area-postagens {
	margin-top: 20px;
	width: 700px;	
}

.area-lateral {	
	width: 200px;
	margin-top: 20px;
	padding-left: 20px;
}

.postagem {	
	margin-left: 20px;
	margin-bottom: 20px;	
	text-align: justify;
   padding: 20px;	
	background-color: white;	
}

.div {	
	
}

.div1 {
	display: flex;		
}

.div2 {
	display: flex;
	width: 320px;
	padding: 0 20px 20px 20px;
	border: 1px solid black;
}

.div3 {
	display: flex;	
	width: 320px;	
	margin-left: 20px;
	padding: 0 20px 20px 20px;
	border: 1px solid black;
}

/*IMAGENS*/

.images {
	width: 100%;	
}

.images1 {
	padding-top: 20px;
}

/*CONTEÚDO LATERAL*/

.conteudo-lateral {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}

.conteudo-lateral h3 {
	font-size: 1em;
}

.postagem-lateral {
	font-size: 0.9em;
	padding: 5px;
	border-bottom: 1px dotted rgb(88, 41, 41);
}

.espacamento {
	padding-top: 10px;
}

/*RODAPÉ*/

.rodape {
	clear: both;
	text-align: center;
	padding: 15px;
	background: rgb(88, 41, 41);
	color: white;
}

/*ÁUDIO*/

.audio {
	padding-top: 15px;
}

/*FORMATAÇÃO DO MENU*/

a {
	text-decoration: none;
	color: #6e6d6d;
}

a:link, a:visited {
	color:white
	color: #6e6d6d;
}

.navbar-nav .nav-link {
	background: none;
	color: white;
}

.nav-link:hover {
	background: white;
	color: rgb(88, 41, 41);
	text-decoration: underline;
	border-radius: 5px;
}

.navbar-nav .area-menu .active {
	background: white;
	color: rgb(88, 41, 41);
	text-decoration: underline;
	border-radius: 5px;
}

header a:link, a:visited {
	/* color: #6e6d6d; */
	padding: 8px 12px;
}

.branco {
	color: white;
}

/*FORMATAÇÃO DO MENU LATERAL*/

.line:hover {
	color: #6e6d6d;
	text-decoration: underline;	
}

.line {
	padding-top: 4px;
}

/*TIPOGRAFIA*/

h1 {
	color: #6e6d6d;
	font-size: 2.5em;
}

h2 {
	color: rgb(88, 41, 41);
	padding-top: 20px;	
	padding-top: 0;	
}

h3 {
	color: white;
	background: rgb(88, 41, 41);
	padding: 5px;
}

.cor {
	color: #5882FA;
}

.data-postagem {
	font-size: 0.8em;
	border-bottom: 1px solid rgb(88, 41, 41);
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}

.paragrafo, .leia {
	padding-top: 15px;
}

/*RODAPÉ*/

/* footer {
	position: fixed;
	bottom: 0;
	width: 100%;
} */